*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Gabarito', sans-serif;
    font-family: 'Play', sans-serif;
    font-family: 'Red Hat Display', sans-serif;
    user-select: none;
}

body{
    background-color: #101010;
    background: url("https://wallpaperaccess.com/full/1526011.jpg") no-repeat center;
    background-size: cover;
}

.nav-bar{
    padding-right: 2rem;
    background-color: #1010101a;
    backdrop-filter: blur(5px);
    color: #f2e9e4;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title{
    flex-grow: 7;
    font-size: 1.8rem;
    padding: 1.2rem 1.5rem;
}

.nav-items{
    padding: 1.8rem 1rem;
}

.nav-items > a{
    text-decoration: none;
    color: #f2e9e4;
}

.items{
    display: inline;
    cursor: pointer;
    position: relative;
}

.items::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #f2e9e4;
    left: 50%;
    top: 70%;
    transform: translateX(-50%);
    transition: width 0.3s ease;
}

.items:hover::after {
    width: 80%;
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 92vh;
    width: 100%;
    
}

.main-text{
    width: 50%;
    text-align: center;
    color: white;
    cursor: default;
}

.main-text h1{
    font-size: 3.5rem;
}

.main-text h2{
    font-size: 3rem;
    margin-bottom: 1.5rem;
}

.btn1{
    padding: 0.8rem 1.9rem;
    font-size: 1rem;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    border-radius: 10px;
    margin-right: 1rem;
    cursor: pointer;
}

.btn2{
    padding: 0.8rem 1.9rem;
    font-size: 1rem;
    color: black;
    border: 2px solid white;
    border-radius: 10px;
    cursor: pointer;
}

.btn1:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}
